ahk.ahk
battery.ahk
gdip.ahk
lib.ahk
Notify.ahk
screenNote.ahk
settings.ini
tasker.ahk
.vscode/launch.json
trash/_Gdip.ahk
trash/_gestures.ahk
trash/_guild ad.ahk
trash/ads.ini
trash/ahk (Best-Komp's conflicted copy 2022-04-09).ahk
trash/ahk.zip
trash/bt off.ahk
trash/bt on.ahk
trash/caps-key.ahk
trash/cooking.exe
trash/drawtimer backup 18.11.07.ini
trash/drawtimer.ahk
trash/drawtimer.ini
trash/eightHours.ahk
trash/fish.7z
trash/fishing.ahk
trash/glyphs.txt
trash/hello magdalene.ahk
trash/hello magdalene.exe
trash/hello magdalene.zip
trash/icons.ahk
trash/input.ahk
trash/Min2Tray.ahk
trash/pipetka.ahk
trash/pipetka.exe1
trash/professionist.ahk
trash/pshotkeys.ahk
trash/screenshot.exe
trash/settings (Best-Komp's conflicted copy 2022-04-23).ini
trash/string
trash/symbols.ahk
trash/taskbartimer backup.ahk
trash/tracker (DESKTOP-CNR4JFN's conflicted copy 2018-01-14).ini
trash/tracker (DESKTOP-CNR4JFN's conflicted copy 2018-06-30).ini
trash/tracker (DESKTOP-CNR4JFN's conflicted copy 2018-08-16).ini
trash/tracker (DESKTOP-CNR4JFN's conflicted copy 2018-09-25).ini
trash/tracker (DESKTOP-CNR4JFN's conflicted copy 2018-10-01).ini
trash/tracker.ini
trash/trash.ahk
trash/v2converter.exe
trash/win-key.ahk
trash/wow (DESKTOP-CNR4JFN's conflicted copy 2018-08-16).ahk
trash/wow.ahk
trash/wow.ini
trash/wowBotOldMining.ahk
trash/Autocomplete/Autocomplete.ahk
trash/Autocomplete/Autocomplete.exe
trash/Autocomplete/Icon.ico
trash/Autocomplete/README.md
trash/Autocomplete/Screenshot.png
trash/Autocomplete/Settings.ini
trash/Autocomplete/WordList.txt
trash/sounds/fail.mp3
trash/sounds/fail.wav
trash/sounds/fail.wma
trash/sounds/heal.wav
trash/sounds/levelup.wav
trash/sounds/levelup.wma
trash/sounds/questcomplete.wav
trash/sounds/questcomplete.wma
trash/sounds/resurrection.wav
trash/sounds/reward.wav
trash/sounds/reward.wma
trash/sounds/victory.wav
trash/sounds/victory.wma
trash/sounds/win (full volume).wav
trash/sounds/win.wav
trash/wifi reset/wifioff.bat
trash/wifi reset/wifion.bat
trash/wifi reset/wifireset.ahk
trash/wifi reset/wifireset.bat
v2/ahk.ahk
v2/settings.ini
